.textInput{
    width: 100% !important;

}

.fileContainer{
    max-height: 10px;
    max-width: 150px;
}


.imageUpload{
    max-width: 150px;

}

.itemContainer{
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.sendButton{
    height: 35px;
}