.profilePicture{
    width: 52px !important;
    height: 52px !important;
    border-radius: 50%;
}

.profile{
    display: flex;
    width: 100%;
     align-items: center;
}

.item{
    padding: 10px;
    display: inline-table;
}